.create-product-page {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 660px;
  width: 100%;
}

.product-form {
  background-color: white;
  padding: 40px 50px;
  display: flex;              
  flex-direction: column;    
}

.product-form label {
  font-size: 16px;
  font-weight: 600;
  color: #6b7280;
  display: block;
  margin-bottom: 10px;
}

.product-form .info-input {
  font-size: 16px;
  font-weight: 600;
  color: #6b7280;
  margin-bottom: 30px;
}

.product-form .category-price {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-form .category-price .info-input{
  flex: 1;
}

.product-form .stock-img {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product-form .stock-img .info-input.stock{
  flex: 1;
}

.product-form .stock-img .info-input.image{
  flex: 2;
}

.product-form .img-preview {
  display: flex;
  justify-content: center;
  align-items: center;      
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 200px;
  width: 100%;  
  max-width: 388px;  
  border: 1px dashed #CCCCCC;
  color: #6B7280;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .create-product-page {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .product-form {
    padding: 50px 20px;
    width: 100%;
  }

  .product-form .category-price {
    flex-direction: column;
  }

  .product-form .stock-img {
    flex-direction: column;
  }
}