h1 {
  color: #111827;
  font-weight: 700;
  font-size: 32px;
}

.error-page {
  width: 1300px;
  height: 600px;
  margin: 50px auto;
  background-color: white;
  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: column;
}